$BgColor: #222222;		
$DivBgColor: rgb(236, 203, 161);	
$FormBgColor:rgba(236, 203, 161, 0.707);
$HeaderBgColor: #2b2b2b93;
$Color: #cba2a2;
$Border: 1px solid black;
$MarginContent: 5px 10px;
$ImageWidth:150px;
$ImageHeight:150px;
$SmallImageWidth:70px;
$SmallImageHeight:70px;
$HeaderFontSize: 40px;