*{
	padding: 0;
	margin: 0;
	background-color: bisque;
}
html,body{
	width: 100%;
	height: 100%;
}
body{
	overflow: hidden;
}
.grid a, p, h1{
	background-color: rgba(211, 184, 151, -0.671);
} 
.grid div{
	background-color: rgba(211, 184, 151, 0.329);
	border-radius: 5px;
}

.div1{
	grid-area: header;
	border-left:3px solid rgba(0, 255, 255, 0.349); 
	border-right:3px solid rgba(0, 255, 255, 0.349); 
	border-bottom:3px solid rgba(0, 255, 255, 0.349); 
}

.div2{
	border-top:3px solid rgba(0, 255, 255, 0.349); 
	border-right:3px solid rgba(0, 255, 255, 0.349); 
	border-bottom:3px solid rgba(0, 255, 255, 0.349); 
	grid-area: nav;
}

.div3{
	grid-area: article;
	border:3px solid rgba(0, 255, 255, 0.349);
}

.div4{
	grid-area: aside;
	border-top:3px solid rgba(0, 255, 255, 0.349);
	border-left:3px solid rgba(0, 255, 255, 0.349);
	border-bottom:3px solid rgba(0, 255, 255, 0.349);
}

.div5{
	grid-area: footer;
	border-left:3px solid rgba(0, 255, 255, 0.349);
	border-top:3px solid rgba(0, 255, 255, 0.349);
	border-right:3px solid rgba(0, 255, 255, 0.349);
}

.grid{
	grid-gap: 10px;
	height: 98%;
	margin:5px;
	display: grid;
	grid-template-rows: 1fr 10fr 1fr;
	grid-template-columns: 1fr 4fr 3fr;
	grid-template-areas:"header header header"
											"nav article aside"
											"footer footer footer";
}
.div2 a{
	display: block;
	border:none;
	text-decoration: none;
	color: green;
	margin:20px 0;
}