*{
	padding: 0;
	margin: 0;
	background-color: bisque;
}
html,body{
	width: 100%;
	height: 100%;
}
li {
	list-style-type: none;
}
li div {
	background-color: rgb(235, 208, 176);
	padding: 5px;
	margin: 5px;
}