*{
	text-align: center;
}
table{
	border-spacing: 0px;
}
td{
	border: 1px solid black;
	height: 40px;
	width: 40px;
}
tr:nth-child(even) td:nth-child(odd),
tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd),
tr:nth-child(odd) td:nth-child(even){
	background-color: black;
}
tr:first-child td,
tr:last-child td,
td:last-child,
td:first-child{
	empty-cells: hide;
	width: 20px;
	height: 20px;
}

tr:last-child td:nth-child(odd),
tr:last-child td:nth-child(even),
tr:first-child td:nth-child(odd),
tr:first-child td:nth-child(even) {
		background-color: lightgrey;
}
tr:nth-child(odd) td:last-child,
tr:nth-child(even) td:last-child,
tr:nth-child(odd) td:first-child,
tr:nth-child(even) td:first-child {
		background-color: lightgrey;
}


