body{
	background-color: beige;
}
body aside{
	width: 200px;
	height: 100%;
	float:right;
	background-color: bisque;
}
aside>nav li{
	font-size: 20px;
	list-style: none;
	line-height: 30px;
	margin-left: -20px;
}
a:link{
	color: red;
	text-decoration: none;
}
a:visited{
	color:#8B0000;
}
a:hover{
	color:green;
}
a:active{
	color:rgb(184, 134, 11);
}